# Loading data.

In [45]:
import pandas as pd

# Combination of the two dataframes

In [55]:
df1 = pd.read_csv("/home/alberto/Documentos/MatchingLearning/Practicas/T4.csv")
df1UUID = ((df1['UUID']/(1000*60))%60)
df2 = pd.read_csv("/home/alberto/Documentos/MatchingLearning/Practicas/Moriarty2.csv", usecols=list(range(8)))
df2UUID = ((df2['UUID']/(1000*60))%60)
df2ActionType = (df2['ActionType'])
#df2Filter = pd.concat([df2UUID, df2ActionType], axis=1)
df1df2 = pd.concat([df1UUID,df2UUID, df2ActionType], axis=1)
df1df2

/home/alberto/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             UUID       UUID ActionType
0       26.672467  56.924217  malicious
1       26.759183  35.338083  malicious
2       26.896383  35.338133  malicious
3       26.979183  35.339633  malicious
4       27.062600  35.654267  malicious
5       27.145417  20.591767  malicious
6       27.229800  20.592667  malicious
7       27.315983  20.592717  malicious
8       27.403467  20.827683  malicious
9       27.485017  25.175817     benign
10      27.573267  25.193783     benign
11      27.663583  20.219317  malicious
12      27.742100  20.220317  malicious
13      27.829583  20.221400  malicious
14      27.936117  20.298450  malicious
15      28.019883  20.300733  malicious
16      28.106950  20.305300  malicious
17      28.192600  20.412600  malicious
18      28.275300  20.486833  malicious
19      28.361967  20.494017  malicious
20      28.447433  20.767800     benign
21      28.530883  20.789900     benign
22      28.614833  20.947283     benign
23      28.701300  20.950317     benign
24      28.787217  21.135967     benign
25      28.886433  21.154617     benign
26      28.974750  21.184083     benign
27      29.070050  22.408183     benign
28      29.145800  24.207133     benign
29      29.227017  24.583133     benign
...           ...        ...        ...
155987  17.646033        NaN        NaN
155988  17.726017        NaN        NaN
155989  17.813417        NaN        NaN
155990  17.902233        NaN        NaN
155991  17.986183        NaN        NaN
155992  18.071267        NaN        NaN
155993  18.149717        NaN        NaN
155994  18.231267        NaN        NaN
155995  18.313750        NaN        NaN
155996  18.397650        NaN        NaN
155997  18.482700        NaN        NaN
155998  18.571733        NaN        NaN
155999  18.652700        NaN        NaN
156000  18.741800        NaN        NaN
156001  18.822950        NaN        NaN
156002  18.905917        NaN        NaN
156003  18.992783        NaN        NaN
156004  19.076867        NaN        NaN
156005  19.161250        NaN        NaN
156006  19.244283        NaN        NaN
156007  19.328017        NaN        NaN
156008  19.412817        NaN        NaN
156009  19.495433        NaN        NaN
156010  19.582383        NaN        NaN
156011  19.664583        NaN        NaN
156012  19.749600        NaN        NaN
156013  19.834717        NaN        NaN
156014  19.921583        NaN        NaN
156015  20.005600        NaN        NaN
156016  20.091200        NaN        NaN

[156017 rows x 3 columns]

# Filtering.